# Working with CEBL data in Python Using `ceblpy`

## Overview

This guide explains how to use the `ceblpy` package to access clean and tidy data from the Canadian Elite  Basketball League (CEBL).

## Installation

You can install the **[ceblpy](https://github.com/ryanndu/ceblpy)** package with:

```bash
$ pip install ceblpy
```

## Usage

The following code shows how to get stats from the Canadian Elite Basketball League (CEBL).

To use `ceblpy` in a project:

In [26]:
import ceblpy
print(ceblpy.__version__)

0.1.0

### `load_cebl_schedule()`

In [25]:
from ceblpy.ceblpy import load_cebl_schedule

# Get the schedule for 2024
schedule = load_cebl_schedule(2024)
schedule

,fiba_id,season,...,id,fiba_json_url
358,2400360,2024,...,933,https://fibalivestats.dcd.shared.geniussports....
359,2400354,2024,...,927,https://fibalivestats.dcd.shared.geniussports....
360,2400353,2024,...,926,https://fibalivestats.dcd.shared.geniussports....
361,2400355,2024,...,928,https://fibalivestats.dcd.shared.geniussports....
362,2400356,2024,...,929,https://fibalivestats.dcd.shared.geniussports....
...,...,...,...,...,...
460,2504673,2024,...,12059967,https://fibalivestats.dcd.shared.geniussports....
461,2504677,2024,...,12060174,https://fibalivestats.dcd.shared.geniussports....
462,2506278,2024,...,12354727,https://fibalivestats.dcd.shared.geniussports....
463,2506272,2024,...,12341496,https://fibalivestats.dcd.shared.geniussports....
464,2508029,2024,...,13117609,https://fibalivestats.dcd.shared.geniussports....

### `load_cebl_team_boxscore()`

In [24]:
from ceblpy.ceblpy import load_cebl_team_boxscore

# Get the team boxscores for 2024
team_boxscore = load_cebl_team_boxscore(2024)
team_boxscore

     game_id  season  ... logo_s_width logo_s_bytes
716  2400360    2024  ...          200        16051
717  2400360    2024  ...          200        18967
718  2400354    2024  ...          200        32787
719  2400354    2024  ...          200        24797
720  2400353    2024  ...          200        22272
..       ...     ...  ...          ...          ...
925  2506278    2024  ...          200        16051
926  2506272    2024  ...          200        26881
927  2506272    2024  ...          200        27966
928  2508029    2024  ...          200        22272
929  2508029    2024  ...          200        26881

[214 rows x 75 columns]

### `load_cebl_player_boxscore()`

In [23]:
from ceblpy.ceblpy import load_cebl_player_boxscore

# Get the player boxscores for 2024
player_boxscore = load_cebl_player_boxscore(2024)
player_boxscore

,game_id,season,...,photo_t,photo_s
7251,2400360,2024,...,https://se-img.dcd-production.i.geniussports.c...,https://se-img.dcd-production.i.geniussports.c...
7252,2400360,2024,...,NaN,NaN
7253,2400360,2024,...,NaN,NaN
7254,2400360,2024,...,NaN,NaN
7255,2400360,2024,...,NaN,NaN
...,...,...,...,...,...
9551,2508029,2024,...,https://se-img.dcd-production.i.geniussports.c...,https://se-img.dcd-production.i.geniussports.c...
9552,2508029,2024,...,https://se-img.dcd-production.i.geniussports.c...,https://se-img.dcd-production.i.geniussports.c...
9553,2508029,2024,...,https://se-img.dcd-production.i.geniussports.c...,https://se-img.dcd-production.i.geniussports.c...
9554,2508029,2024,...,https://se-img.dcd-production.i.geniussports.c...,https://se-img.dcd-production.i.geniussports.c...
9555,2508029,2024,...,https://se-img.dcd-production.i.geniussports.c...,https://se-img.dcd-production.i.geniussports.c...

### `load_cebl_officials()`

In [22]:
from ceblpy.ceblpy import load_cebl_officials

# Get the officials for 2024
officials = load_cebl_officials(2024)
officials

,game_id,season,...,international_last_name,international_last_name_initial
941,2400360,2024,...,Kerrison,K
942,2400360,2024,...,Stothart,S
943,2400360,2024,...,Toppings,T
944,2400354,2024,...,Turnbull,T
945,2400354,2024,...,Donnelly,D
...,...,...,...,...,...
1257,2506272,2024,...,Kerrison,K
1258,2506272,2024,...,Bucella,B
1259,2508029,2024,...,Stiell,S
1260,2508029,2024,...,Husainy,H
1261,2508029,2024,...,Saunders,S

### `load_cebl_coaches()`

In [21]:
from ceblpy.ceblpy import load_cebl_coaches

# Get the coaches for 2024
coaches = load_cebl_coaches(2024)
coaches

      game_id  season  ... international_last_name_initial scoreboard_name
1711  2400360    2024  ...                               V       T. Vernon
1712  2400360    2024  ...                               R       W. Rooney
1713  2400360    2024  ...                               B        J. Baker
1714  2400360    2024  ...                               H         G. Hoyt
1715  2400354    2024  ...                               A        L. Abney
...       ...     ...  ...                             ...             ...
2268  2508029    2024  ...                               B     R. Brempong
2269  2508029    2024  ...                               S        T. Scott
2270  2508029    2024  ...                               R         V. Raso
2271  2508029    2024  ...                               D        M. Davis
2272  2508029    2024  ...                               S    T. Stevenson

[562 rows x 14 columns]

### `load_cebl_pbp()`

In [20]:
from ceblpy.ceblpy import load_cebl_pbp

# Get the pbp for 2024
pbp = load_cebl_pbp(2024)
pbp

,game_id,season,...,international_first_name_initial,international_last_name_initial
0,2400360,2024,...,NaN,NaN
1,2400360,2024,...,NaN,NaN
2,2400360,2024,...,A,P
3,2400360,2024,...,D,R
4,2400360,2024,...,D,R
...,...,...,...,...,...
61156,2508029,2024,...,K,J
61157,2508029,2024,...,E,L
61158,2508029,2024,...,NaN,NaN
61159,2508029,2024,...,NaN,NaN
61160,2508029,2024,...,NaN,NaN